body {
    font-family: 'Helvetica', 'Avenir', 'Calibri', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, a, span, p {
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    max-width: 75ch;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.categories {
    line-height: 2em;
}

@media (max-width: 1536px) {
    .categories{
        font-size: 0.80rem;
        line-height: 1.80em;
    }
    .categories_titles {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

@media (max-width: 1200px) {
    .categories{
        font-size: 0.70rem;
        line-height: 1.60em;
    }
    .categories_titles {
        font-size: 1.1rem;
        font-weight: 500;
    }
}