body {
    font-family: 'Helvetica', 'Avenir', 'Calibri', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, a, span, p {
    margin-top: 1em;
}

/*a, span, p {
    font-size: 1vw;
    font-weight: lighter;
    line-height: 1.6;
    padding: 5px;
}*/

p {
    max-width: 75ch;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.categories {
    line-height: 2em;
}
